@model WebLocacao.Dominio.Entities.Locacao

@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>

<div>
    <h4>Locacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filmes.Filme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filmes.Filme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataLocacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataLocacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
